﻿@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IHostingEnvironment Environment
@inject ICompositeViewEngine Engine

@model AdminViewModel


<div class="header">
    @{
        var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
    }
    @if (result.Success)
    {
        await Html.RenderPartialAsync("_LoginPartial");
    }
    else
    {
        throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
            "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
            $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
    }
</div>

<partial name="_CookieConsentPartial" optional />

<div>
    <label class="subtitle">To approve:</label>
    <table class="table-striped" id="contactTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th style="width: 2em">Approve</th>
                <th style="width: 2em">Reject</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var time in Model.RaceTimesToApprove)
            {
                <tr>
                    <td>@time.FirstName @time.LastName</td>
                    <td>@time.Time</td>
                    <td style="text-align: center"><img src="~/images/Approve.png" class="icon approve" alt="Approve" id="@time.Id"></td>
                    <td style="text-align: center"><img src="~/images/Delete.png" class="icon delete" alt="Reject" id="@time.Id"></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <label class="subtitle">Approved times:</label>
    <table class="table-striped" id="contactTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th style="width: 2em">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var time in Model.ApprovedRaceTimes)
            {
                <tr>
                    <td>@time.FirstName @time.LastName</td>
                    <td>@time.Time</td>
                    <td style="text-align: center"><img src="~/images/Delete.png" class="icon delete" alt="Delete" id="@time.Id"></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<environment include="Development">
    <script src="~/Identity/lib/jquery/dist/jquery.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/Identity/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl">
    </script>
</environment>
<script src="~/Identity/js/site.js" asp-append-version="true"></script>

@section Scripts {
    <script src="~/Scripts/AdminScript.js"></script>
}