﻿@model RaceTimeViewModel

<div class="header">
    <a asp-controller="Admin" asp-action="Index" class="link">Admin site</a>
</div>

<form asp-action="NewRaceTime" method="post" id="newRaceTimeForm">
    <div>
        <label for="NewRaceTime_FirstName">@Html.DisplayNameFor(model => model.NewRaceTime.FirstName):</label>
        <input asp-for="NewRaceTime.FirstName" placeholder="First name" required maxlength="15" />
    </div>
    <div>
        <label for="NewRaceTime_LastName">@Html.DisplayNameFor(model => model.NewRaceTime.LastName):</label>
        <input asp-for="NewRaceTime.LastName" placeholder="Last name" required maxlength="20" />
    </div>
    <div>
        <label for="NewRaceTime_Time">@Html.DisplayNameFor(model => model.NewRaceTime.Time):</label>
        <input asp-for="NewRaceTime.Time" placeholder="hh:mm:ss" />
    </div>

    <div class="info">
        <span>Format hh:mm:ss </span>
        <span id="dateError">(Invalid data)</span>
    </div>

    <div class="buttons">
        <input id="submit" type="submit" value="Register the result" />
        <button><a asp-controller="Home" asp-action="Index">Reset</a></button>
    </div>
</form>

<div class="raceTime">
    <label class="subtitle">Best race times:</label>
    <table class="table-striped" id="contactTable">
        <thead>
            <tr>
                <th style="width: 10%">No.</th>
                <th style="width: 45%">Name</th>
                <th style="width: 45%">Time</th>
            </tr>
        </thead>
        <tbody>
            @{int nom = 1;} 
            @foreach (var raceTime in Model.RaceTimes)
            {
                <tr>
                    <td>@nom</td>
                    <td>@raceTime.FirstName @raceTime.LastName</td>
                    <td>@raceTime.Time</td>
                </tr>
                nom++;
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/Scripts/HomeScript.js"></script>
}
