﻿body {
    padding: 0em;
    background: rgb(188, 210, 239);
}

.header {
    margin-right: auto;
    padding: 1em;
    padding-bottom: 0.5em;
}

.link {
    border-style: solid;
    border-radius: 0.5em;
    padding: 0.25em;
}

.header a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}


.icon {
    width: 1.6em;
    height: 1.9em;
    margin: 2px;
    border-radius: 0.25rem;
    padding: 1px;
}

.title {
    font-size: 1.75em;
    font-weight: bold;
    color: black;
}

.subtitle {
    font-size: 1.25em;
    margin-top: 1em;
    margin-bottom: 0.75em;

}

a:hover {
    text-decoration: none;
    color: black;
}

.content {
    min-height: 100%;
    padding: 2em;
    padding-top: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*border-style: solid;
    border-color: green;*/
}

table {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.75em;
    width: 100%;
    margin: 0.5em 1em;
}

table thead {
    font-size: 1.25em;
}

table td, table th {
    padding: 0.5em;
}

.raceTime {
    min-width: 50%;
    margin-top: 1.5em;
}

label, input{
    font-size: 1.15em;
    margin-bottom: 0.5em;
}

.buttons {
    text-align: end;
}

button, .buttons input {
    font-weight: bold;
    border-radius: 0.25rem;
    background-color: lightgray;
    border-color: lightgray;
    font-size: 1em;
    margin: 0.15em;
}

button a {
    color: black;
    text-decoration: none;
}

.info {
    margin-top: -0.5em;
    font-size: 0.9em;
    margin-left: 0.5em;
}
#dateError {
    color: red;
}

#account {
    min-width: 50%
}

.text-dark{
    margin: 0.25em;
    padding: 0.25em;
    color: black;
    font-size: 1.5em;
}